# Python
__pycache__/
*.py[cod]
*.env
venv/
.venv/
dist/
build/
*.egg-info/

# Node
node_modules/
.next/
.nuxt/
dist/

# Expo
frontend/.expo/
frontend/android/
frontend/ios/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.local
*.key
